<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>

<body>
<div th:insert="blocks/header :: header"></div>

<div class="container mt-3">
    <h1 th:text="${title}"/>
    <div class="row">
        <div class="col-md-auto">
            <a th:href="'/people'" class="btn btn-warning" th:text="'People'"/>
        </div>
        <div class="col-md-auto">
            <a th:href="'/wards'" class="btn btn-warning" th:text="'Wards'"/>
        </div>
        <div class="col-md-auto">
            <a th:href="'/diagnosis'" class="btn btn-warning" th:text="'Diagnosis'"/>
        </div>
    </div>
</div>
</body>

</html>